
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // Autorise la lecture et l'écriture pour tout le monde (développement et test)
      // Note: Pour une production réelle, il faudrait restreindre aux utilisateurs authentifiés.
      allow read, write: if true;
    }
  }
}
